<section class="home-section section-hero overlay bg-image" style="background-image: url('../../assets/front-end/images/hero_1.jpg');" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">A Powerful Career Website Template</h1>
          <p>Find your dream jobs in our powerful career website template.</p>
        </div>
        <form method="post" class="search-jobs-form">
          <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" class="form-control form-control-lg" placeholder="Job title, keywords...">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="form-control">
                <option>Anywhere</option>
                <option>San Francisco</option>
                <option>Palo Alto</option>
                <option>New York</option>
                <option>Manhattan</option>
                <option>Ontario</option>
                <option>Toronto</option>
                <option>Kansas</option>
                <option>Mountain View</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="form-control">
                <option>Part Time</option>
                <option>Full Time</option>
                <option>Freelancer</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</section>
<section class="site-section">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2">109,234 Job Listed</h2>
      </div>
    </div>


    <div class="mb-5">
      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
        <div class="col-md-2">
          <a href="job-single.html"><img src="assets/front-end/images/featured-listing-1.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <span class="badge badge-primary px-2 py-1 mb-3">Freelancer</span>
          <h2><a href="job-single.html">Dropbox Product Designer</a> </h2>
          <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
        </div>
        <div class="col-md-3 text-left">
          <h3>Melbourn</h3>
          <span class="meta">Australia</span>
        </div>
        <div class="col-md-3 text-md-right">
          <strong class="text-black">$60k &mdash; $100k</strong>
        </div>
      </div>

      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
        <div class="col-md-2">
          <a href="job-single.html"><img src="assets/front-end/images/featured-listing-2.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <span class="badge badge-warning px-2 py-1 mb-3">Full-time</span>
          <h2><a href="job-single.html">Creative Director in Intercom</a> </h2>
          <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
        </div>
        <div class="col-md-3 text-left">
          <h3>London</h3>
          <span class="meta">United Kingdom</span>
        </div>
        <div class="col-md-3 text-md-right">
          <strong class="text-black">$60k &mdash; $100k</strong>
        </div>
      </div>

      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
        <div class="col-md-2">
          <a href="job-single.html"><img src="assets/front-end/images/featured-listing-3.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <span class="badge badge-success px-2 py-1 mb-3">Part-time</span>
          <h2><a href="job-single.html">FullStack Developer in Shopify</a> </h2>
          <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
        </div>
        <div class="col-md-3 text-left">
          <h3>London</h3>
          <span class="meta">United Kingdom</span>
        </div>
        <div class="col-md-3 text-md-right">
          <strong class="text-black">$60k &mdash; $100k</strong>
        </div>
      </div>
      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
        <div class="col-md-2">
          <a href="job-single.html"><img src="assets/front-end/images/featured-listing-4.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <span class="badge badge-primary px-2 py-1 mb-3">Freelancer</span>
          <h2><a href="job-single.html">Dropbox Product Designer</a> </h2>
          <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
        </div>
        <div class="col-md-3 text-left">
          <h3>Melbourn</h3>
          <span class="meta">Australia</span>
        </div>
        <div class="col-md-3 text-md-right">
          <strong class="text-black">$60k &mdash; $100k</strong>
        </div>
      </div>

      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
        <div class="col-md-2">
          <a href="job-single.html"><img src="assets/front-end/images/featured-listing-5.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <span class="badge badge-warning px-2 py-1 mb-3">Full-time</span>
          <h2><a href="job-single.html">Creative Director in Intercom</a> </h2>
          <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
        </div>
        <div class="col-md-3 text-left">
          <h3>London</h3>
          <span class="meta">United Kingdom</span>
        </div>
        <div class="col-md-3 text-md-right">
          <strong class="text-black">$60k &mdash; $100k</strong>
        </div>
      </div>

      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
        <div class="col-md-2">
          <a href="job-single.html"><img src="assets/front-end/images/featured-listing-4.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <span class="badge badge-success px-2 py-1 mb-3">Part-time</span>
          <h2><a href="job-single.html">FullStack Developer in Shopify</a> </h2>
          <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
        </div>
        <div class="col-md-3 text-left">
          <h3>London</h3>
          <span class="meta">United Kingdom</span>
        </div>
        <div class="col-md-3 text-md-right">
          <strong class="text-black">$60k &mdash; $100k</strong>
        </div>
      </div>

      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
        <div class="col-md-2">
          <a href="job-single.html"><img src="assets/front-end/images/featured-listing-3.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <span class="badge badge-success px-2 py-1 mb-3">Part-time</span>
          <h2><a href="job-single.html">FullStack Developer in Shopify</a> </h2>
          <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
        </div>
        <div class="col-md-3 text-left">
          <h3>London</h3>
          <span class="meta">United Kingdom</span>
        </div>
        <div class="col-md-3 text-md-right">
          <strong class="text-black">$60k &mdash; $100k</strong>
        </div>
      </div>

    </div>

    <div class="row pagination-wrap">

      <div class="col-md-6 text-center text-md-left">
        <div class="custom-pagination ml-auto">
          <a href="#" class="prev">Previous</a>
          <div class="d-inline-block">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
          </div>
          <a href="#" class="next">Next</a>
        </div>
      </div>
    </div>

  </div>
</section>
