<section class="home-section section-hero overlay bg-image" style="background-image: url('../../assets/front-end/images/hero_1.jpg');  height: 600px;" id="home-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">A Powerful Career Website Template</h1>
          <p>Find your dream jobs in our powerful career website template.</p>
        </div>
        <form method="post" class="search-jobs-form">
          <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" [(ngModel)]="titre"  name="titre" class="form-control form-control-lg" placeholder="Job title, keywords...">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="form-control" name="term" [(ngModel)]="term" id="type" data-placeholder="Selectionner type de l'offre">
                <option *ngFor ="let contrat of uniqueContrats"  [ngValue]="contrat" >{{contrat}}</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="form-control" name="dep" [(ngModel)]="dep" id="departement" data-placeholder="Selectionner departement">
                <option *ngFor ="let departement of uniqueDepartements"  [ngValue]="departement" >{{departement}}</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2">Offre d'emploi</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">

          <div class="list-group">
            <a *ngFor = "let offre of (offres| filter:dep:term:titre)" (click)="fill(offre)" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{offre.titre}}</h5>
                <small>{{offre.days}} days ago</small>
              </div>
              <p class="mb-1">Type : {{offre.type}}</p>
              <p class="mb-1">Salaire : {{offre.salaire}}</p>
              <p class="mb-1">Ville : {{offre.ville}}</p>
            </a>
          </div>

        </div>
      </div>

      <div class="col-md-6" id="details">
        <div class="jumbotron"></div>
      </div>
    </div>


  </div>
</section>
