<section class="home-section section-hero overlay bg-image" style="background-image: url('../../assets/front-end/images/hero_1.jpg');" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">A Powerful Career Website Template</h1>
          <p>Find your dream jobs in our powerful career website template.</p>
        </div>
        <form method="post" class="search-jobs-form">
          <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" [(ngModel)]="titre"  name="titre" class="form-control form-control-lg" placeholder="Job title, keywords...">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="form-control" name="term" [(ngModel)]="term" id="type" data-placeholder="Selectionner type de l'offre">
                <option *ngFor ="let offre of offres"  [ngValue]="offre.type" >{{offre.type}}</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="form-control" name="dep" [(ngModel)]="dep" id="departement" data-placeholder="Selectionner departement">
                <option *ngFor ="let offre of offres"  [ngValue]="offre.departement" >{{offre.departement}}</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</section>
<section class="site-section">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2">Offre d'emploi</h2>
      </div>
    </div>


    <div class="mb-5" *ngFor = "let offre of (offres| filter:dep:term:titre)" >
      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
        <div class="col-md-2">
           <h1>{{offre.type}}</h1>
        </div>
        <div class="col-md-4">
          <h2><a href="job-single.html">{{offre.titre}}</a> </h2>
          <p class="meta"><strong>description :</strong> {{ offre.description}}</p>
        </div>
        <div class="col-md-3 text-left">
          <h3>{{offre.departement}}</h3>
        </div>
        <div class="col-md-2 text-md-right">
          <div><strong class="text-black">{{offre.salaire}} DT </strong></div>
          <div></div>
          <span class="badge badge-primary px-2 py-1 mb-3" ><a href="/editor">Postuler</a></span>
         <button [routerLink]="['/editor', offre.id]" type="button" >Postule</button>
        </div>

      </div>
    </div>

    <div class="row pagination-wrap">

      <div class="col-md-6 text-center text-md-left">
        <div class="custom-pagination ml-auto">
          <a href="#" class="prev">Previous</a>
          <div class="d-inline-block">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
          </div>
          <a href="#" class="next">Next</a>
        </div>
      </div>
    </div>

  </div>
</section>
