<form>
   <div class="row">
     <div class="col-lg-6">
       <nb-card>
         <nb-card-header>Details</nb-card-header>
         <nb-card-body>

             <div class="form-group row">
               <label for="titre" class="label col-sm-3 col-form-label">Titre</label>
               <div class="col-sm-9">
                 <input [(ngModel)]="offre.titre" placeholder="Titre de l'offre" name="titre" class="form-control" id="titre">
               </div>
             </div>

             <div class="form-group row">
               <label for="salaire" class="label col-sm-3 col-form-label">Salaire</label>
               <div class="col-sm-9">
                 <input type="number" min="1" [(ngModel)]="offre.salaire" placeholder="Salaire de l'offre" name="salaire" class="form-control" id="salaire">
               </div>
             </div>
             <div class="form-group row">
               <label for="ville" class="label col-sm-3 col-form-label">Ville</label>
               <div class="col-sm-9">
                 <input type="text" [(ngModel)]="offre.ville" placeholder="Salaire de l'offre" name="salaire" class="form-control" id="ville">
               </div>
             </div>
             <div class="form-group row">
               <label class="label col-sm-3 col-form-label"for="inputState2">Contrat</label>
               <div class="col-sm-9">
                 <select [(ngModel)]="offre.type" name="type" id="inputState2" class="form-control">
                   <option selected>CDI</option>
                   <option>Freelance</option>
                   <option>Stagiare</option>
                 </select>
               </div>
             </div>
             <div class="form-group row">
               <label class="label col-sm-3 col-form-label" for="inputState">Department</label>
               <div class="col-sm-9">
                 <select [(ngModel)]="offre.departement" name="type" id="inputState" class="form-control">
                   <option selected>Web</option>
                   <option>Desktop</option>
                   <option>Mobile</option>
                   <option>Finance</option>
                 </select>
               </div>
             </div>
             <div class="form-group row">
               <label class="label col-sm-3 col-form-label"for="inputState2">Quiz</label>
               <div class="col-sm-9">
                 <select [(ngModel)]="offre.quiz.id" name="type" id="inputState2" class="form-control">
                   <option value="{{quiz.id}}" *ngFor="let quiz of quizs">{{quiz.titre}}</option>

                 </select>
               </div>
             </div>
             <div class="form-group row">
               <label class="label col-sm-3 col-form-label"for="inputState2">A partir de</label>
               <div class="col-sm-9">
                   <input nbInput placeholder="Pick Date"  class="form-control" value="{{ date | date }}" [nbDatepicker]="formpicker">
                   <nb-datepicker [(date)]="date" #formpicker></nb-datepicker>
               </div>
             </div>

         </nb-card-body>
       </nb-card>
     </div>
     <div class="col-md-6">
       <nb-card>
         <nb-card-header>Description</nb-card-header>
         <nb-card-body>
           <div class="form-group row">
               <textarea [(ngModel)]="offre.description" name="description" rows="14" nbInput fullWidth   placeholder="Description de l'offre"></textarea>
           </div>
         </nb-card-body>
       </nb-card>
     </div>
   </div>
   <div class="row">
     <div class="col-md-5"></div>
     <div class="col-md-2">
       <button type="submit" nbButton status="primary" (click)="createOffre()" >Ajouter offre</button>
     </div>
     <div class="col-md-2"></div>
   </div>
</form>
