    <div class="row">
      <nb-card>
        <nb-card-header>Liste des offres </nb-card-header>
        <nb-card-body>
          <table class="table">
            <thead>
            <tr>
              <th>Titre</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <tr *ngFor = "let offre of offres">
              <td>{{offre.titre}}</td>
              <td>
                {{offre.description}}<br/>
                <strong>ville :</strong> {{offre.ville}}<br/>
                <strong>Contrat :</strong> {{offre.type}}<br/>
                <strong>Departement :</strong> {{offre.departement}}<br/>
                <strong>Salaire :</strong> {{offre.salaire}}<br/>
              </td>
              <td>

                <div class="dropdown">
                  <nb-icon class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" icon="cogs" pack="fa"></nb-icon>
                  <div style="text-align: right" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a (click)="Liste(offre)" class="dropdown-item">
                      Candidatures
                      <nb-icon icon="users" pack="fa"></nb-icon>
                    </a>
                    <a *ngIf="offre.etat== 'disponible'" data-toggle="modal" [attr.data-target]="'#changerEtat'+offre.id" class="dropdown-item" href="#">
                      mettre indisponible
                      <nb-icon  icon="eye" pack="fa"></nb-icon>
                    </a>
                    <a *ngIf="offre.etat!= 'disponible'" data-toggle="modal" [attr.data-target]="'#changerEtat'+offre.id" class="dropdown-item" href="#">
                      mettre disponible
                      <nb-icon  icon="eye-slash" pack="fa"></nb-icon>
                    </a>
                    <a (click)="update(offre)" class="dropdown-item">
                      Modifier
                      <nb-icon  icon="pen" pack="fa"></nb-icon>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a (click)="delete(offre)" class="dropdown-item">Supprimer <nb-icon icon="trash" pack="fa"></nb-icon></a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </nb-card-body>
      </nb-card>
    </div>

<!-------------------------------------------------------------------------  Enable/disable Recruteur ------------------------------------------------------------------------------------->
<div *ngFor="let offre of offres" class="modal" id="changerEtat{{offre.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="offre.etat== 'disponible'">Voulez vous mettre l'etat de cet offre  <strong>Non disponible</strong></p>
        <p *ngIf="offre.etat!= 'disponible'">Voulez vous mettre l'etat de cet offre  <strong>disponible</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="changerEtat(offre)" class="btn btn-primary">Confirmer</button>

      </div>
    </div>
  </div>
</div>
