<!-- HOME -->
<section class="home-section section-hero inner-page overlay bg-image"
         style="background-image:  url('../../assets/front-end/images/hero_1.jpg');" id="home-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">Mon profil</h1>
          <p>Find your dream jobs in our powerful career website template.</p>
        </div>
      </div>
    </div>
  </div>
</section>





<section class="site-section pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 mb-3 mb-lg-0">
        <a data-fancybox data-ratio="2" class="block__96788">
          <img src="../../assets/images/jack.png" alt="Image" class="img-fluid img-shadow">
        </a>
      </div>
      <div class="col-lg-5 ml-auto">
        <h2 class="section-title mb-3">Careers for Your Careers</h2>
        <p class="lead">Eveniet voluptatibus voluptates suscipit minima, cum voluptatum ut dolor, sed facere corporis
          qui, ea quisquam quis odit minus nulla vitae. Sit, voluptatem.</p>
        <p>Ipsum harum assumenda in eum vel eveniet numquam, cumque vero vitae enim cupiditate deserunt eligendi officia
          modi consectetur. Expedita tempora quos nobis earum hic ex asperiores quisquam optio nostrum sit!</p>
      </div>
    <div c class="col-lg-1"></div>
    </div>
  </div>
</section>

