
<section class="home-section section-hero inner-page overlay bg-image"
         style="background-image:  url('../../assets/front-end/images/hero_1.jpg');" id="home-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">Mon Espace</h1>
          <p>Find your dream jobs in our powerful career website template.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 mb-3 mb-lg-0">
        <a data-fancybox data-ratio="2" class="block__96788">
          <img src="\assets\Uploads\{{candidat.photo}}" alt="Image" class="img-fluid img-shadow">
        </a>
      </div>
      <div class="col-lg-4 ml-auto">
        <h2 class="section-title mb-3">{{candidat.nom}} {{candidat.prenom}}</h2>
        <p class="lead">date de naissance : {{candidat.dateNaissance | date :  "dd.MM.y"}}</p>
        <p class="lead">Email : {{candidat.email}}</p>
        <div class="form-group row">
          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)">
          </label>

          <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
      </div>
    </div>
  </div>
  </div>
</section>
