
<div class="col-md-6 col-lg-6 col-xxxl-6">
  <nb-card>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Ajouter un quiz
    </button>

  </nb-card>
</div>

<div class="lists row">
  <div class="col-md-6 col-lg-6 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header>quiz list</nb-card-header>
      <nb-card-body>

        <nb-list>
          <nb-list-item (click)="readQuiz(quiz)" *ngFor="let quiz of quizs">
            {{ quiz.titre}}
            <button style="float: right;" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#modal'+quiz.id">modifier</button>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>

</div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post">
            <div class="modal-body">

              <div class="form-group">
                <label >Titre</label>
                <input type="text" [(ngModel)]="quizToAdd.titre" name="titre" class="form-control"  placeholder="titre">
              </div>

              <div class="form-group">
                <label for="inputState">Type</label>
                <select [(ngModel)]="quizToAdd.type" name="type" id="inputState" class="form-control">
                  <option selected>random</option>
                  <option>jeaa</option>
                </select>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="on">
                <label class="form-check-label" for="inlineRadio1">on</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="off">
                <label class="form-check-label" for="inlineRadio2">of</label>
              </div>

              <div class="was-validated custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                <label class="custom-control-label" for="customControlValidation1">Activer ce quiz</label>
              </div>

            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" (click)="createQuiz()" class="btn btn-primary">Save changes</button>
            </div>

          </form>
        </div>
      </div>
    </div>

