<div class="row">
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>
        Profile
        <button style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#editImage">modifier</button>
      </nb-card-header>
      <nb-card-body>
        <img class="img-circle" src="\assets\Uploads\{{ rec.photo }}" style="width: 300px ; height: 300px;" />
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>
        About
        <button style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#editInfo">modifier</button>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-borderless">
          <tr>
            <th>Nom et prenom</th>
            <td>{{rec.nom}} {{rec.prenom}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{rec.email}}</td>
          </tr>
          <tr>
            <th>Departement</th>
            <td>{{rec.departement}}</td>
          </tr>
          <tr>
            <th>Date de naissance</th>
            <td>{{rec.dateNaissance | date: 'fullDate'}}</td>
          </tr>
          <tr>
            <th>Date de recrutement</th>
            <td>{{rec.dateRecrutement | date: 'fullDate'}}</td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
    <button style="float: right;" class="btn btn-warning" data-toggle="modal" data-target="#editPwd">chander mot de passe</button>
  </div>
</div>

<!-------------------------------------------------------------------------  Edit Profil ------------------------------------------------------------------------------------->

<div  class="modal fade" id="editInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog large" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleeditModalLabel">Modifier mes information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label >Nom</label>
            <input type="text" [(ngModel)]="rec.nom" name="nom" class="form-control"  placeholder="nom">
          </div>
          <div class="form-group">
            <label >Prnom</label>
            <input type="text"  [(ngModel)]="rec.prenom" name="prenom" class="form-control"  placeholder="prenom">
          </div>
          <div class="form-group">
            <label >Email</label>
            <input type="text" [(ngModel)]="rec.email" name="email" class="form-control"  placeholder="email">
          </div>
          <div class="form-group">
            <label>Photo</label>
            <input type="file"  name="photo" class="form-control"  placeholder="titre">
          </div>

          <div class="form-group">
            <label for="inputState">Department</label>
            <select [(ngModel)]="rec.departement" name="type" id="inputState1" class="form-control">
              <option selected>Web</option>
              <option>Desktop</option>
              <option>Mobile</option>
              <option>Finance</option>
            </select>
          </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" (click)="edit()" class="btn btn-primary">Comfirmer</button>
        </div>

      </form>
    </div>
  </div>
</div>

<!-------------------------------------------------------------------------  Change password ------------------------------------------------------------------------------------->

<div  class="modal fade" id="editPWD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog large" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleeditModalLabel">Changer mot de passe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post" name="change">
        <div class="modal-body">
          <div class="form-group">
            <label >Ancien mod de passe</label>
            <input type="text" [(ngModel)]="oldPwd" name="oldPwd" class="form-control"  placeholder="nom">
          </div>
          <div class="form-group">
            <label >Nouveau mot de passe</label>
            <input type="text"  [(ngModel)]="newPwd"   name="newPwd" class="form-control"  placeholder="prenom">
          </div>
          <!---->
          <div class="form-group">
            <label >Confirmer nouveau mot de passe</label>
            <input type="text"   name="newPwd2" ng-match="oldPwd" class="form-control"  placeholder="prenom">
          </div>
          <span data-ng-show="change.oldPwd.$error.match">pwds have to match!</span>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" (click)="changePwd()" class="btn btn-primary">Comfirmer</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-------------------------------------------------------------------------  edit Image ------------------------------------------------------------------------------------->

<div  class="modal fade" id="editImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog large" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleeditModalLabel3">Modifier photo de profil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label >Image</label>
            <input type="file" (change)="selectFile($event)" name="image" class="form-control"  placeholder="nom">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" (click)="editImage()" class="btn btn-primary">Comfirmer</button>
        </div>

      </form>
    </div>
  </div>
</div>
