

  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a href="" class="site-logo">
            <img src="../../assets/frontend/img/logo.png" alt="">
          </a>
        </div>
        <div class="col-xl-6 col-lg-5">
          <form class="header-search-form">
            <input type="text" placeholder="Search on divisima ....">
            <button><i class="flaticon-search"></i></button>
          </form>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="flaticon-profile"></i>
              <a  routerLink="auth/login">Sign</a> In or <a href="#">Create Account</a>
            </div>
            <div class="up-item">
              <div class="shopping-card">
                <i class="flaticon-bag"></i>
                <span>0</span>
              </div>
              <a href="#">Shopping Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
        <li><a href="#">Offre d'emploi</a></li>
        <li><a routerLink="emploi">Demande</a></li>

      </ul>
    </div>
  </nav>

  <!-- Page recherche -->
  <recherche></recherche>
  <!-- Page recherche -->
<router-outlet></router-outlet>
