


  <header class="site-navbar mt-3">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6">

        <a href="/" class="site-logo">
          <img src="../../assets/frontend/img/gfi.png" alt="">
        </a>
        </div>
        <nav class="mx-auto site-navigation">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><a href="/" class="nav-link active">Carrière</a></li>
            <li><a href="/emploi">Mon Espace</a></li>
            <li><a href="/candidat">Profil</a></li>
            <li><a href="services.html">Qui Somme nous</a></li>
            <li><a href="/pages">Blog</a></li>
          </ul>
        </nav>

        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
          <div class="ml-auto">
            <a href="/login" *ngIf="connected== false" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-line-profile-male"></span>Connexion</a>
            <a (click)="logout()" *ngIf="connected== true" role="button" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-line-profile-male"></span>deconnexion</a>
          </div>
        </div>
      </div>
      <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast" style="position: absolute; top: 0; right: 0;" data-autohide="false">
          <div class="test" *ngFor = "let notif of notifs">
            <div *ngIf="notif.etat==true">
              <div class="toast-header">
                <svg class="rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                     focusable="false" role="img">
                  <rect fill="#007aff" width="100%" height="100%" /></svg>
                <strong class="mr-auto">Nouvelle notification</strong>
                <small>11 mins ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="test" (click)="dismiss(notif)" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">
                {{notif.message}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>
  <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('../../assets/front-end/images/hero_1.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2 class="text-white">Looking For A Job?</h2>
          <p class="mb-0 text-white lead">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci
            impedit.</p>
        </div>
        <div class="col-md-3 ml-auto">
          <a href="#" class="btn btn-warning btn-block btn-lg">Sign Up</a>
        </div>
      </div>
    </div>
  </section>

