.article-list-vertical{
  list-style:none;
  margin: 0 auto;
  max-width: 2000px;
  text-align: center;
  padding: 0;
}

.article-list-vertical li{
  display: block;
  box-sizing:border-box;
  border-radius: 3px;
  text-align: left;
  box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
  border:1px solid #cfcfcf;
  overflow: hidden;
  background-color: #fff;

  font: normal 13px sans-serif;

  margin-bottom: 40px;
  max-width: 1000px;
}

/* Article photo */

.article-list-vertical li > a{
  float: left;
  width: 200px;
  height: 200px;
  display: block;

  background-size: cover;
}

.article-list-vertical li div{
  float: left;
  box-sizing: border-box;

  max-width: 350px;
  padding: 30px;
}

/* Article title */

.article-list-vertical li div h2{
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin:0;
}

.article-list-vertical li div h2 a{
  color: #2b2b2b;
  text-decoration: none;
}

/* Article excerpt */

.article-list-vertical li div p{
  line-height: 20px;
  color: #5d5d5d;

  margin: 20px 0;
}

.article-list-vertical li a.read-more{
  background-color: #87bcd7;
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 2px;
  margin: 20px 0;
  font-weight: bold;
}

@media (max-width: 600px){

  .article-list-vertical{
    max-width: 350px;
  }

  .article-list-vertical li{
    max-width: 325px;
  }

  .article-list-vertical li > a{
    float: none;
    width: 100%;
  }

  .article-list-vertical li div{
    float: none;
    padding: 30px;
  }

}
.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=email]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.form-dark .modal-header {
  border-bottom: none;
}
