<section class="home-section section-hero inner-page overlay bg-image"
         style="background-image:  url('../../assets/front-end/images/hero_1.jpg');" id="home-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">Mon Espace</h1>
          <p>Find your dream jobs in our powerful career website template.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><h2 class="section-title mb-2">Mes candidatures</h2></div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div  *ngFor = "let demande of demandes" class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
        <a data-toggle="modal" [attr.data-target]="'#infoDemande'+demande.id"  class="block__16443 text-center d-block">
          <span style="float: right" *ngIf="demande.etat== 'en cours'" class="badge badge-info px-2 py-1 mb-3">{{ demande.etat }}</span>
          <span style="float: right" *ngIf="demande.etat== 'accepté'" class="badge badge-success px-2 py-1 mb-3">{{ demande.etat }}</span>
          <span style="float: right" *ngIf="demande.etat== 'refusé'" class="badge badge-danger px-2 py-1 mb-3">{{ demande.etat }}</span>
          <h4>{{demande.offre.titre}}</h4>
          <p>{{demande.offre.description | limitTo : 200}}</p>
          <button style="" *ngIf="demande.etat== 'choix date entretien'" class="btn btn-lg btn-primary">Date d'entretien: {{demande.dateEntretien | date: 'fullDate'}}</button>
        </a>
      </div>
    </div>
  </div>
</section>



<div *ngFor="let demande of demandes" class="modal" id="infoDemande{{demande.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{demande.offre.titre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{demande.offre.description}}</p>
        <hr/>
        <strong>Departement :</strong>{{demande.offre.departement}}<br/>
        <strong>Ville :</strong>{{demande.offre.ville}}<br/>
        <strong>Salaire :</strong>{{demande.offre.salaire}}<br/>
        <strong>Date :</strong>{{demande.offre.dateDebut | date: 'fullDate'}}<br/>
      </div>
      <div class="modal-footer">
        <span style="float: right" *ngIf="demande.etat== 'en cours'" class="badge badge-info px-2 py-1 mb-3">{{ demande.etat }}</span>
        <span style="float: right" *ngIf="demande.etat== 'accepté'" class="badge badge-success px-2 py-1 mb-3">{{ demande.etat }}</span>
        <span style="float: right" *ngIf="demande.etat== 'refusé'" class="badge badge-danger px-2 py-1 mb-3">{{ demande.etat }}</span>
        <button type="button" style="" *ngIf="demande.etat== 'choix date entretien'" class="btn btn-lg btn-primary">Date d'entretien: 05/08/2019</button>
      </div>
    </div>
  </div>
</div>

