<html lang="en">
<head>
  <title>Login V15</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="../../../assets/login/images/icons/favicon.ico"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../../assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../../assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../../assets/login/css/util.css">
  <link rel="stylesheet" type="text/css" href="../../../assets/login/css/main.css">
  <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(../../assets/login/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Inscription
					</span>
      </div>

      <form (ngSubmit)="login()"  [hidden]="loggedIn" class="login100-form validate-form">

        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Nom</span>
          <input  [(ngModel)]="candidatToAdd.nom" class="input100" type="text" name="nom"  placeholder="Enter nom">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Prenom</span>
          <input  [(ngModel)]="candidatToAdd.prenom" class="input100" type="text" name="prenom"  placeholder="Enter prenom">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Email</span>
          <input (change)="mailUnique(candidatToAdd.email)"  [(ngModel)]="candidatToAdd.email" class="input100" type="email" name="email"  placeholder="Enter votre email">
          <span class="focus-input100"></span>
          <h5 *ngIf="message== true">mail exist deja</h5>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Mot de passe</span>
          <input  [(ngModel)]="candidatToAdd.pass" class="input100" type="password" name="password" placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Cv</span>
          <input  (change)="selectCv($event)" [(ngModel)]="candidatToAdd.cv" class="input100" type="file" name="cv" placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Photo</span>
          <input (change)="selectPhoto($event)" [(ngModel)]="candidatToAdd.photo" class="input100" type="file"  name="photo"  placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>

        <div class="form-group">
          <label >Date de naissance</label>
          <input type="text"
                 class="form-control"
                 [minDate]="minDate"
                 [maxDate]="maxDate"
                 #dp="bsDatepicker"
                 bsDatepicker [(bsValue)]="myDateValue">
        </div>
        <br/>
    <div class="d-flex justify-content-between align-items-baseline">
      <button *ngIf="message== true" disabled="disabled" type="submit" class="btn btn-primary">Inscription</button>
      <button *ngIf="message!= true" type="submit" class="btn btn-primary">Inscription</button>
    </div>
  </form>

    </div>
  </div>
</div>
